
#Esse é gerado automáticamente
AUTH_SECRET="" 

#Auth do google ou quaisquer outras aplicações que você pretende usar
#Suponto que seja google é gerado dessa forma
AUTH_GOOGLE_ID=''
AUTH_GOOGLE_SECRET=''


#Dados do Firebase para o banco de dados

FIREBASE_PROJECT_ID=''
FIREBASE_CLIENT_EMAIL=''
FIREBASE_PRIVATE_KEY=''

#Stripe
STRIPE_SECRET_KEY=''
NEXT_PUBLIC_STRIPE_PUB_KEY=''
STRIPE_PRODUCT_PRICE_ID=''